In [15]:
import numpy as np
import pandas as pd
import nltk
import os
import kaggle

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/nic/.kaggle/kaggle.json'

# Import and unzip data
* from Kaggel
    * wine-dataset
    * historical temp

In [39]:
#make a dir called data if not yet done
if "data" in os.listdir():
    print ("data exists")
else:
    !mkdir ./data

data exists

In [40]:
#download wine-reviews
kaggle.api.dataset_download_file('zynicide/wine-reviews','winemag-data_first150k.csv',path='./data',quiet=True,force=True)
!unzip './data/winemag-data_first150k.csv.zip' -d './data'

Archive:  ./data/winemag-data_first150k.csv.zip
replace ./data/winemag-data_first150k.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: ^C

In [41]:
#download temperature_data
kaggle.api.dataset_download_file('berkeleyearth/climate-change-earth-surface-temperature-data',
                                 'GlobalLandTemperaturesByCity.csv',path='./data',quiet=True,force=True)
!unzip './data/GlobalLandTemperaturesByCity.csv.zip' -d './data'

Archive:  ./data/GlobalLandTemperaturesByCity.csv.zip
  inflating: ./data/GlobalLandTemperaturesByCity.csv

In [42]:
# read wine_df
wine_df=pd.read_csv('./data/winemag-data_first150k.csv',index_col=0)
wine_df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [167]:
# read temp_df
temp_df= pd.read_csv('./data/GlobalLandTemperaturesByCity.csv').drop('AverageTemperatureUncertainty',axis=1)
temp_df.head()

           dt  AverageTemperature   City  Country Latitude Longitude
0  1743-11-01               6.068  Århus  Denmark   57.05N    10.33E
1  1743-12-01                 NaN  Århus  Denmark   57.05N    10.33E
2  1744-01-01                 NaN  Århus  Denmark   57.05N    10.33E
3  1744-02-01                 NaN  Århus  Denmark   57.05N    10.33E
4  1744-03-01                 NaN  Århus  Denmark   57.05N    10.33E

In [168]:
temp_df.describe()

       AverageTemperature
count        8.235082e+06
mean         1.672743e+01
std          1.035344e+01
min         -4.270400e+01
25%          1.029900e+01
50%          1.883100e+01
75%          2.521000e+01
max          3.965100e+01

In [52]:
temp_df.drop("AverageTemperature",axis=1).describe()

                dt         City  Country Latitude Longitude
count      8599212      8599212  8599212  8599212   8599212
unique        3239         3448      159       73      1227
top     1885-11-01  Springfield    India   36.17N   139.23E
freq          3510         9545  1014906   425455    129600

In [68]:
grouped_temp_df=temp_df.pivot_table(values=['AverageTemperature'],index=['Latitude','Longitude'])

In [74]:
grouped_temp_df.head()

                    AverageTemperature
Latitude Longitude
0.80N    103.66E             26.523103
         108.48E             26.880930
         110.09E             25.928041
         118.13E             26.674126
         122.95E             26.169601

In [77]:
grouped_temp_df.loc['0.80N','103.66E']

AverageTemperature    26.523103
Name: (0.80N, 103.66E), dtype: float64

In [81]:
import geopy
from geopy import Nominatim

In [83]:

geolocator = Nominatim(user_agent='wine_app')

geolocator.geocode('Florence Italy')

Location(Firenze, FI, TOS, Italia, (43.7698712, 11.2555757, 0.0))

In [84]:
wine_df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [91]:
## fillna with blank

In [105]:
## create location description
wine_df['Location_description']=wine_df.fillna('')['province']+' '+wine_df.fillna('')['country']

In [106]:
sample_wine_df=wine_df.head()

In [107]:
sample_wine_df

,country,description,designation,points,price,province,region_1,region_2,variety,winery,Location_description
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,California US
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,Northern Spain Spain
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,California US
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,Oregon US
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,Provence France

In [108]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="wine_app")

from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
sample_wine_df['location'] = sample_wine_df['Location_description'].apply(geocode)

# df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

/Users/nic/ai/wine_review_capstone/wine_review_ai/wine_ai/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [114]:
sample_wine_df['location'].loc[0].point

Point(36.7014631, -118.7559974, 0.0)

In [128]:
def times2(input):
    return 2 if input>3 else 4
test_df=pd.DataFrame({'number':[1,2,3,4,5,6]})
test_df['number'].apply(times2)

0    4
1    4
2    4
3    2
4    2
5    2
Name: number, dtype: int64

In [ ]:
>>> from geopy import distance
>>> newport_ri = (41.49008, -71.312796)
>>> cleveland_oh = (41.499498, -81.695391)
>>> print(distance.distance(newport_ri, cleveland_oh).miles)
538.39044536

>>> wellington = (-41.32, 174.81)
>>> salamanca = (40.96, -5.50)
>>> print(distance.distance(wellington, salamanca).km)

In [127]:
from geopy import distance
from geopy.point import Point

location_from_weather=Point(temp_df.loc[0]['Latitude']+' '+temp_df.loc[0]['Longitude'])
distance.distance(sample_wine_df['location'].loc[0].point,location_from_weather).km

57 2m 60s N, 10 19m 48s E

8573.523854668892

In [178]:
temp_df_test=temp_df.copy()

In [ ]:
def get_point_string(row):
    row1=row.copy()
    return row1['Latitude']+' '+row1['Longitude']
def get_point(row):
    return Point(row['Latitude']+' '+row['Longitude'])
temp_df['point']=temp_df_test.apply(get_point_string,axis=1)
temp_df

In [ ]:
# temp_df['point']=temp_df.apply(get_point_string,axis=1)

In [ ]:
unique_points=temp_df['point'].unique()

In [ ]:
def compare_distance(point1):
    return lambda x: distance.distance(point1.point,x).km
def find_minimum_dist(point_1):
    print(point_1.point)
#     temp_df1=pd.DataFrame{temp_df.copy().point.unique()
#     temp_df1['distance']=temp_df1['point'].apply(compare_distance(point_1))
    distance=unique_points.apply(compare_distance(point_1))
#     return temp_df1.loc[temp_df1['distance'].idxmax()]
    return unique_points[distance.idxmax()]
# sample_wine_df['location'].apply(find_minimum_dist)

In [ ]:
find_minimum_dist(sample_wine_df['location'][0])

In [136]:

def get_distance(point2):
    compare_distance()

In [132]:
for i in sample_wine_df['Location_description']:
    print(i)

California US
Northern Spain Spain
California US
Oregon US
Provence France

In [ ]:
lambda x: