In [3]:
import numpy as np
import pandas as pd
import pandas as pd1
import nltk
import os
import kaggle

# Import and unzip data
* from Kaggel
    * wine-dataset
    * historical temp

In [2]:
#make a dir called data if not yet done
if "data" in os.listdir():
    print ("data exists")
else:
    !mkdir ./data

data exists

In [6]:
#download wine-reviews
kaggle.api.dataset_download_file('zynicide/wine-reviews','winemag-data-130k-v2.csv',path='./data',quiet=True,force=True)
!unzip './data/winemag-data-130k-v2.csv.zip' -d './data'

Archive:  ./data/winemag-data-130k-v2.csv.zip
  inflating: ./data/winemag-data-130k-v2.csv

In [4]:
#download temperature_data
# kaggle.api.dataset_download_file('berkeleyearth/climate-change-earth-surface-temperature-data',
#                                  'GlobalLandTemperaturesByCity.csv',path='./data',quiet=True,force=True)
# !unzip './data/GlobalLandTemperaturesByCity.csv.zip' -d './data'

In [8]:
wine_df=pd.read_csv('./data/winemag-data-130k-v2.csv',index_col=0)
wine_df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [5]:
# # read wine_df
# wine_df=pd.read_csv('./data/winemag-data_first150k.csv',index_col=0)
# wine_df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [2]:
# read temp_df
temp_df= pd.read_csv('./data/GlobalLandTemperaturesByCity.csv').drop('AverageTemperatureUncertainty',axis=1)
temp_df= temp_df.dropna()
temp_df.head()

           dt  AverageTemperature   City  Country Latitude Longitude
0  1743-11-01               6.068  Århus  Denmark   57.05N    10.33E
5  1744-04-01               5.788  Århus  Denmark   57.05N    10.33E
6  1744-05-01              10.644  Århus  Denmark   57.05N    10.33E
7  1744-06-01              14.051  Århus  Denmark   57.05N    10.33E
8  1744-07-01              16.082  Århus  Denmark   57.05N    10.33E

In [3]:
temp_df.describe()

       AverageTemperature
count        8.235082e+06
mean         1.672743e+01
std          1.035344e+01
min         -4.270400e+01
25%          1.029900e+01
50%          1.883100e+01
75%          2.521000e+01
max          3.965100e+01

In [4]:
temp_df.drop("AverageTemperature",axis=1).describe()

                dt         City  Country Latitude Longitude
count      8235082      8235082  8235082  8235082   8235082
unique        3167         3448      159       73      1227
top     2000-10-01  Springfield    India   36.17N   139.23E
freq          3510         9147   960548   418396    129280

# Combine Latitude & Longtitude

In [5]:
temp_df['location_coordinate']= temp_df['Latitude']+' '+temp_df['Longitude']
temp_df.head()

,dt,AverageTemperature,City,Country,Latitude,Longitude,location_coordinate
0,1743-11-01,6.068,Århus,Denmark,57.05N,10.33E,57.05N 10.33E
5,1744-04-01,5.788,Århus,Denmark,57.05N,10.33E,57.05N 10.33E
6,1744-05-01,10.644,Århus,Denmark,57.05N,10.33E,57.05N 10.33E
7,1744-06-01,14.051,Århus,Denmark,57.05N,10.33E,57.05N 10.33E
8,1744-07-01,16.082,Århus,Denmark,57.05N,10.33E,57.05N 10.33E

# Create temp Pivot

In [6]:
temp_df.shape

(8235082, 7)

In [7]:
temp_df=temp_df.drop_duplicates(subset=['location_coordinate','dt'])

UserWarning: `DataFrame.duplicated` defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.
UserWarning: Distributing <class 'pandas.core.series.Series'> object. This may take some time.

In [8]:
#set index
temp_df=temp_df.set_index(['location_coordinate'])
temp_df.head()

,dt,AverageTemperature,City,Country,Latitude,Longitude
location_coordinate,,,,,,
57.05N 10.33E,1743-11-01,6.068,Århus,Denmark,57.05N,10.33E
57.05N 10.33E,1744-04-01,5.788,Århus,Denmark,57.05N,10.33E
57.05N 10.33E,1744-05-01,10.644,Århus,Denmark,57.05N,10.33E
57.05N 10.33E,1744-06-01,14.051,Århus,Denmark,57.05N,10.33E
57.05N 10.33E,1744-07-01,16.082,Århus,Denmark,57.05N,10.33E

In [9]:
# set dt to datetime
temp_df['dt']=pd.to_datetime(temp_df['dt'],format='%Y-%m-%d')

In [66]:
pivot_temp_df=temp_df.pivot(columns='dt'
                            ,values='AverageTemperature')

In [67]:
pivot_temp_df.head()

# Get coordinates for the wine data

In [9]:
## fillna with blank

## create location description
wine_df['Location_description']=wine_df.fillna('')['province']+' '+wine_df.fillna('')['country']

## Test run with a small dataset

In [10]:
wine_df_sample=wine_df.head()

In [11]:
wine_df_sample

In [12]:
## construct a loop function
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="wine_app")

from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
def get_location(location_desc_array,country_array,cache_location='location_cache.csv'):
    ## get cache or create cache
    if os.path.isfile(cache_location):
        cache = pd1.read_csv(cache_location,index_col=0)
    else:
        cache = pd1.DataFrame({'location_desc':[],'point':[]})
    location=[]
    for location_desc,country in zip(location_desc_array,country_array):
        if cache['location_desc'].isin([location_desc]).any():
            slice_of_cache = cache[cache['location_desc']==location_desc]
#             print(slice_of_cache)
            location.append(slice_of_cache['point'][0])
            print('using cache')
        else:
            print('using api')
            response = geocode(location_desc)
            ## catch error if reponse is none
            if response == None:
                #if no response try using just the country name
                response = geocode(country)
                if response == None:
                    response = 'error'
                    print ('didnt find location')
                    print(location_desc)
                    point = response
                else:
                    point = response.point
            else:
                point = geocode(location_desc).point
            new_df= pd1.DataFrame({'location_desc':[location_desc],'point':[point]})
            cache = cache.append(new_df)
#             print(new_df)
#             print(cache)
            location.append(point)
    cache.to_csv(cache_location)
    return location

In [16]:
## remove cache
# os.listdir()
# os.remove('location_cache.csv')
pd.read_csv('location_cache.csv').head()

   Unnamed: 0             location_desc                                  point
0           0             California US  36 42m 5.26716s N, 118 45m 21.5906s W
1           0      Northern Spain Spain  12 27m 42.4447s S, 130 50m 32.4089s E
2           0                 Oregon US  43 58m 45.4069s N, 120 44m 14.1252s W
3           0           Provence France    43 19m 14.8678s N, 5 22m 6.32249s E
4           0  Northeastern Italy Italy    42 38m 18.334s N, 12 40m 27.4692s E

In [21]:
## test run
wine_df_sample['location'] = get_location(wine_df_sample['Location_description'],wine_df_sample['country'])

using cache
using cache
using cache
using cache
using cache

## use coordinates_getter with the full dataset

In [13]:
wine_df['location']=get_location(wine_df['Location_description'],wine_df['country'])

In [17]:
## save to file
wine_df.to_csv('./wine_df_log.csv')

In [19]:
# save temp to csv
# temp_df.to_csv('./temp.csv')

In [72]:
# save pivoted temp_df
pivot_temp_df.to_csv('./pivot_temp.csv')

# Checkpoint1
## Get data from saved wine_df

In [18]:
wine_df_from_log=pd.read_csv('./wine_df_log.csv', index_col=0)
wine_df_from_log.head()

# Get closest location for each location search

In [34]:
wine_df_from_log['Location_description'].unique().shape

UserWarning: `Series.unique` defaulting to pandas implementation.

(456,)

In [65]:
# load processed temp_df
temp_df = pd.read_csv('./temp.csv',index_col=0)

In [22]:
# unique values in index will be used in function  
temp_df.index.unique().shape

(1366,)

In [23]:
unique_points=pd.DataFrame(list(temp_df.index.unique()))
unique_points.head()[0][0]

'57.05N 10.33E'

In [24]:
from geopy import distance
from geopy.point import Point
unique_points=pd.DataFrame(list(temp_df.index.unique()))
def compare_distance(point1):
    return lambda x: distance.distance(point1,x).km
def find_minimum_dist(point_1,cache_location='./closest_location_cache.cache'):
    ## get cache file
    if os.path.isfile(cache_location):
        cache = pd1.read_csv(cache_location,index_col=0)
    else:
        cache = pd1.DataFrame({'point_1':[],'closest_point':[],'distance':[]})
    
    ## check if point is in the cache
    if cache['point_1'].isin([point_1]).any():
        print('using cache')
        closest_point = cache[cache['point_1']==point_1]['closest_point'][0]
        closest_distance = cache[cache['point_1']==point_1]['distance'][0]
    else:
        print('using apply')
        try:
            distance_array = unique_points[0].apply(compare_distance(point_1))
            closest_point = unique_points.loc[distance_array.idxmin()][0]
            closest_distance = distance_array[0].min()
        except ValueError:
            distance_array = 0
            closest_point = 0
            closest_distance = 0
            print('value error')
        ## save modified cache
        new_df= pd1.DataFrame({'point_1':[point_1],'closest_point':[closest_point],'distance':[closest_distance]})
        cache = cache.append(new_df)
        cache.to_csv(cache_location)
    return closest_point

In [25]:
### clear cache
# os.remove('./closest_location_cache.cache')

In [28]:
## unit test find minimum dist
assert find_minimum_dist(wine_df_from_log['location'][0]) == '39.38N 8.32E'

using cache

In [30]:
## unit test 2 check that the script generate a list
wine_test=wine_df_from_log.head(5)
wine_test['location'].apply(find_minimum_dist)

using cache
using cache
using cache
using cache
using cache

0      39.38N 8.32E
1      40.99N 6.39W
2    44.20N 122.98W
3     42.59N 85.09W
4    44.20N 122.98W
Name: location, dtype: object

In [32]:
## Unit test check speed of the function
import datetime
t0=datetime.datetime.now()
wine_test['closest_location'] = wine_test['location'].apply(find_minimum_dist)
print(f'time taken is : {(datetime.datetime.now()-t0).total_seconds()}')

using cache
using cache
using cache
using cache
using cache
time taken is : 0.081347

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [33]:
wine_test

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,Location_description,location,closest_location
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,Sicily & Sardinia Italy,"39 15m 23.1314s N, 9 3m 36.0994s E",39.38N 8.32E
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,Douro Portugal,"41 10m 12.151s N, 7 18m 17.0993s W",40.99N 6.39W
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,Oregon US,"43 58m 45.4069s N, 120 44m 14.1252s W",44.20N 122.98W
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,Michigan US,"43 37m 16.3038s N, 84 40m 56.7646s W",42.59N 85.09W
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,Oregon US,"43 58m 45.4069s N, 120 44m 14.1252s W",44.20N 122.98W

In [34]:
t0=datetime.datetime.now()
wine_df_from_log['closest_location'] = wine_df_from_log['location'].apply(find_minimum_dist)
print(f'time taken is : {(datetime.datetime.now()-t0).total_seconds()}')

In [36]:
#check if the array is sensible
wine_df_from_log.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,Location_description,location,closest_location
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,Sicily & Sardinia Italy,"39 15m 23.1314s N, 9 3m 36.0994s E",39.38N 8.32E
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,Douro Portugal,"41 10m 12.151s N, 7 18m 17.0993s W",40.99N 6.39W
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,Oregon US,"43 58m 45.4069s N, 120 44m 14.1252s W",44.20N 122.98W
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,Michigan US,"43 37m 16.3038s N, 84 40m 56.7646s W",42.59N 85.09W
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,Oregon US,"43 58m 45.4069s N, 120 44m 14.1252s W",44.20N 122.98W

In [37]:
wine_df_from_log.to_csv('./wine_df_log.csv')

# Checkpoint 2 chosen closest point of location between tempdf and windf

In [38]:
wine_df=pd.read_csv('./wine_df_log.csv',index_col=0)

In [40]:
test_wine_df=wine_df.head()

# Get year of produce

In [59]:
# test assignment with head
test_wine_df['year']=test_wine_df['title'].str.extract(r'(?P<digit>(?:\s)(?:19|20)\d\d(?:\s))', expand=False)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [60]:
test_wine_df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,Location_description,location,closest_location,year
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,Sicily & Sardinia Italy,"39 15m 23.1314s N, 9 3m 36.0994s E",39.38N 8.32E,2013
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,Douro Portugal,"41 10m 12.151s N, 7 18m 17.0993s W",40.99N 6.39W,2011
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,Oregon US,"43 58m 45.4069s N, 120 44m 14.1252s W",44.20N 122.98W,2013
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,Michigan US,"43 37m 16.3038s N, 84 40m 56.7646s W",42.59N 85.09W,2013
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,Oregon US,"43 58m 45.4069s N, 120 44m 14.1252s W",44.20N 122.98W,2012

In [61]:
# execute for real df
wine_df['year']=wine_df['title'].str.extract(r'(?P<digit>(?:\s)(?:19|20)\d\d(?:\s))', expand=False)

In [63]:
# fill na with 0
wine_df=wine_df.fillna(0)

In [64]:
wine_df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,Location_description,location,closest_location,year
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,0.0,Sicily & Sardinia,Etna,0,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,Sicily & Sardinia Italy,"39 15m 23.1314s N, 9 3m 36.0994s E",39.38N 8.32E,2013
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,0,0,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,Douro Portugal,"41 10m 12.151s N, 7 18m 17.0993s W",40.99N 6.39W,2011
2,US,"Tart and snappy, the flavors of lime flesh and...",0,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,Oregon US,"43 58m 45.4069s N, 120 44m 14.1252s W",44.20N 122.98W,2013
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,0,Alexander Peartree,0,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,Michigan US,"43 37m 16.3038s N, 84 40m 56.7646s W",42.59N 85.09W,2013
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,Oregon US,"43 58m 45.4069s N, 120 44m 14.1252s W",44.20N 122.98W,2012

# Append year info to temp

In [73]:
# Load pivot temp
pivot_temp_df=pd.read_csv('./pivot_temp.csv',index_col=0)
pivot_temp_df.head()

,1743-11-01,1744-04-01,1744-05-01,1744-06-01,1744-07-01,1744-09-01,1744-10-01,1744-11-01,1744-12-01,1745-01-01,...,2012-12-01,2013-01-01,2013-02-01,2013-03-01,2013-04-01,2013-05-01,2013-06-01,2013-07-01,2013-08-01,2013-09-01
location_coordinate,,,,,,,,,,,,,,,,,,,,,
0.80N 103.66E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.443,26.836,26.563,28.053,27.767,28.083,28.662,27.487,27.372,NaN
0.80N 108.48E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.827,27.275,27.127,28.277,28.217,28.483,29.231,27.919,27.684,NaN
0.80N 110.09E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.266,26.684,26.472,27.386,27.027,26.955,27.875,26.956,27.001,NaN
0.80N 118.13E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.298,27.096,26.814,27.932,27.745,27.795,28.220,27.127,26.862,NaN
0.80N 122.95E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.702,26.442,26.540,27.460,27.042,27.088,27.087,26.076,26.171,NaN

In [85]:
pivot_temp_df.columns.str.extract(r'(?P<digit>^(?:19|20){})'.format(23), expand=False).dropna()

Index(['1923', '1923', '1923', '1923', '1923', '1923', '1923', '1923', '1923',
       '1923', '1923', '1923'],
      dtype='object', name='digit')

In [183]:
map_dict={}
for i in np.arange(0,24):
    map_dict[i]=f'temp{i}'
print(map_dict)
year='2012'
test_series=pivot_temp_df.filter(regex=r'(?P<digit>^{}|{})'.format(year,int(year)-1)).loc['0.80N 103.66E'].reset_index(drop=True)
test_series.index=test_series.index.map(map_dict)
print(test_series)

{0: 'temp0', 1: 'temp1', 2: 'temp2', 3: 'temp3', 4: 'temp4', 5: 'temp5', 6: 'temp6', 7: 'temp7', 8: 'temp8', 9: 'temp9', 10: 'temp10', 11: 'temp11', 12: 'temp12', 13: 'temp13', 14: 'temp14', 15: 'temp15', 16: 'temp16', 17: 'temp17', 18: 'temp18', 19: 'temp19', 20: 'temp20', 21: 'temp21', 22: 'temp22', 23: 'temp23'}
temp0     25.957
temp1     26.936
temp2     27.083
temp3     27.507
temp4     28.259
temp5     28.024
temp6     28.153
temp7     27.647
temp8     27.436
temp9     26.878
temp10    27.049
temp11    26.457
temp12    26.842
temp13    26.955
temp14    27.058
temp15    27.278
temp16    28.000
temp17    28.372
temp18    27.445
temp19    27.556
temp20    27.551
temp21    27.192
temp22    26.951
temp23    26.443
Name: 0.80N 103.66E, dtype: float64

In [113]:
test_df=wine_df.head()
new_index= np.arange(1,13,1)

In [175]:
## create a map dict
map_dict={}
for i in np.arange(0,24):
    map_dict[i]=f'temp{i+1}'
print(map_dict)

{0: 'temp1', 1: 'temp2', 2: 'temp3', 3: 'temp4', 4: 'temp5', 5: 'temp6', 6: 'temp7', 7: 'temp8', 8: 'temp9', 9: 'temp10', 10: 'temp11', 11: 'temp12', 12: 'temp13', 13: 'temp14', 14: 'temp15', 15: 'temp16', 16: 'temp17', 17: 'temp18', 18: 'temp19', 19: 'temp20', 20: 'temp21', 21: 'temp22', 22: 'temp23', 23: 'temp24'}

In [184]:
#append to the data row
year=int(test_df.loc[4]['year'])
# print(year)
new_series=pivot_temp_df.filter(regex=r'(?P<digit>^{}|{})'.format(year,year-1)).loc['0.80N 103.66E']
# print(new_series)
new_series=new_series.reset_index(drop=True)
new_series.index=new_series.index.map(map_dict)
series_to_append=test_df.loc[0].append(new_series)
new_df = pd.DataFrame({})
new_df=new_df.append(series_to_append,ignore_index=True)
new_df

,Location_description,closest_location,country,description,designation,location,points,price,province,region_1,...,temp4,temp5,temp6,temp7,temp8,temp9,title,variety,winery,year
0,Sicily & Sardinia Italy,39.38N 8.32E,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,"39 15m 23.1314s N, 9 3m 36.0994s E",87.0,0.0,Sicily & Sardinia,Etna,...,28.259,28.024,28.153,27.647,27.436,26.878,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,2013

In [ ]:
def select_and_append_temp(row):
#     print(row)
    year = int(row['year'])
    new_series=pivot_temp_df.filter(regex=r'(?P<digit>^{}|{})'.format(year,year-1)).loc['0.80N 103.66E']
    new_series=new_series.reset_index(drop=True)
    new_series.index=new_series.index.map(map_dict)
    return new_series

In [203]:
# unit test
# print(test_df)
assert test_df.join(test_df.apply(select_and_append_temp,axis=1)).shape == (5,41) , 'Test failed'

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                    0
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                                 0
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Location_description                               Sicily & Sardinia Italy
location                                39 15m 23.1314s N, 9 3m 36.0994s E
closest_location                                              39.38N 8.32E
year                                                                 2013
Name: 0, dtype: object
country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                    0
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                                 0
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Location_description                               Sicily & Sardinia Italy
location                                39 15m 23.1314s N, 9 3m 36.0994s E
closest_location                                              39.38N 8.32E
year                                                                 2013
Name: 0, dtype: object
country                                                           Portugal
description              This is ripe and fruity, a wine that is smooth...
designation                                                       Avidagos
points                                                                  87
price                                                                   15
province                                                             Douro
region_1                                                                 0
region_2                                                                 0
taster_name                                                     Roger Voss
taster_twitter_handle                                           @vossroger
title                        Quinta dos Avidagos 2011 Avidagos Red (Douro)
variety                                                     Portuguese Red
winery                                                 Quinta dos Avidagos
Location_description                                        Douro Portugal
location                                41 10m 12.151s N, 7 18m 17.0993s W
closest_location                                              40.99N 6.39W
year                                                                 2011
Name: 1, dtype: object
country                                                                 US
description              Tart and snappy, the flavors of lime flesh and...
designation                                                              0
points                                                                  87
price                                                                   14
province                                                            Oregon
region_1                                                 Willamette Valley
region_2                                                 Willamette Valley
taster_name                                                   Paul Gregutt
taster_twitter_handle                                          @paulgwine
title                        Rainstorm 2013 Pinot Gris (Willamette Valley)
variety                                                         Pinot Gris
winery                                                           Rainstorm
Location_description                                             Oregon US
location                             43 58m 45.4069s N, 120 44m 14.1252s W
closest_location                                            44.20N 122.98W
year                                                                 2013
Name: 2, dtype: object
country                                                                 US
description              Pineapple rind, lemon pith and orange blossom ...
designation                                           Reserve Late Harvest
points                                                                  87
price                                                                   13
province                                                          Michigan
region_1                                               Lake Michigan Shore
region_2                                                                 0
taster_name                                             Alexander Peartree
taster_twitter_handle                                                    0
title                    St. Julian 2013 Reserve Late Harvest Riesling ...
variety                                                           Riesling
winery                                                          St. Julian
Location_description                                           Michigan US
location                              43 37m 16.3038s N, 84 40m 56.7646s W
closest_location                                             42.59N 85.09W
year                                                                 2013
Name: 3, dtype: object
country                                                                 US
description              Much like the regular bottling from 2012, this...
designation                             Vintner's Reserve Wild Child Block
points                                                                  87
price                                                                   65
province                                                            Oregon
region_1                                                 Willamette Valley
region_2                                                 Willamette Valley
taster_name                                                   Paul Gregutt
taster_twitter_handle                                          @paulgwine
title                    Sweet Cheeks 2012 Vintner's Reserve Wild Child...
variety                                                         Pinot Noir
winery                                                        Sweet Cheeks
Location_description                                             Oregon US
location                             43 58m 45.4069s N, 120 44m 14.1252s W
closest_location                                            44.20N 122.98W
year                                                                 2012
Name: 4, dtype: object

In [204]:
test_df.join(test_df.apply(select_and_append_temp,axis=1))

In [ ]:
## apply to the real wine_df
wine_df.join(wine_df.apply(select_and_append_temp,axis=1))